/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--main-bg-color);
}

h1 {
    color: var(--primary-text-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: var(--btn-bg-color);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
}